@use '../../styles/variables';
@use '../../styles/mixins';

.appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;

  &__bg {
    background-image: url('https://res.cloudinary.com/dzmkilinu/image/upload/v1689393389/medical-site/banner-bg-1_yyg5bn.jpg');
  }

  &__header {
    text-align: center;
    padding-top: 4rem;

    &__title {
      font-size: variables.$font-size-x-small;
      font-family: variables.$font-open-sans;
      font-weight: bold;
      color: variables.$color-lightblue;
    }
  }

  &__form {

    &__title {
      font-size: variables.$font-size-large;
      font-family: variables.$font-poppins;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      padding-inline: 1rem;
      padding-top: 1.5rem;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
      width: 100%;
      font-family: variables.$font-open-sans;
      font-size: variables.$font-size-x-small;
      color: variables.$color-gray;

      &--section {
        width: 100%;

        label {
          padding-top: 1.5rem;
          padding-bottom: 0.5rem;

        }

        input {
          border: 1px solid #DDDDDD;
          width: 100%;
          padding: 1rem 0.5rem;
        }

        select {
          font-family: variables.$font-open-sans;
          font-size: variables.$font-size-x-small;
          border: 1px solid #DDDDDD;
          color: variables.$color-gray;
          padding: 1rem 1rem;
          width: 100%;
        }
      }

      fieldset {
        margin-top: 1rem;
        border: 1px solid #DDDDDD;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 1rem;
        gap: 10px;

        input[type=radio] {
          padding: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #DDDDDD;
          cursor: pointer;
        }

        input:checked {
          background-color: variables.$color-lightblue;
        }
      }

      #label-textarea {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
      }

      textarea {
        border: 1px solid #DDDDDD;
        width: 100%;
        padding: 1rem 0.5rem;
      }
    }

    &--button {
      background-color: variables.$color-lightblue;
      padding: 1rem 2.5rem;
      margin-left: 1rem;
      color: variables.$bg-main-color;
      transition: .6s;

      &:hover {
        background-color: variables.$color-button-hover;
        cursor: pointer;
      }
    }

  }

  .modal_message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 5;

    &--content {
      background-color: #DDDDDD;
      border-radius: 5px;
      padding: 1rem;
      font-family: variables.$font-poppins;
      font-size: 16px;
      position: relative;
      text-align: center;
      margin-left: 1rem;
      margin-right: 3rem;


      .closed {
        position: absolute;
        top: 0;
        right: -55%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

}

@include mixins.set-container-width(".appointment");

@media (min-width:1024px) {
  .appointment {
    &__form {
      &__title {
        font-size: 48px;
        padding-inline: 5rem;
      }

      &__container {
        flex-direction: row;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;

        &--section {
          width: 50%;
          padding-right: 1rem;
        }

        #label-textarea {
          padding-top: 1rem;
        }
      }
    }
  }

}