@use '../../styles/variables';
.ourpartners{
  background-color: variables.$section-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 100%;

  &-title{    
    color:variables.$color-lightblue;
    font-family: variables.$font-open-sans;
    font-weight: bold;
    font-size: 15px;
    padding: 2rem;
  }

  &-slider{
    width: 100%;
    &-logo{
      margin-left: 30%;
      width: 100px;
      height: 80px;
    }
  }

  @media (min-width: 576px){
    &-slider{
      max-width: 540px;
    }    
  }

  @media (min-width: 768px){
    &-slider{
      max-width: 720px;
    }
  }

  @media (min-width: 992px){
    &-slider{
      max-width: 960px;
    }
  }

  @media (min-width:1024px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &-title{
      font-size: 16px;
      padding-bottom: 3rem;
    }
    &-slider{
      max-width: 923px;
    }
  }

  @media (min-width:1440px) {
    &-slider{
      max-width: 1320px;
    }
  }

}