@use '../../../styles/variables';

.doctor-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);


  form {
    font-family: variables.$font-poppins;
    font-size: 14px;
    padding: 1rem;
    align-items: center;
    background-color: #FDFEFE;
    width: 45%;
    overflow-y: auto;
    height: 700px;

    h3 {
      color: variables.$color-lightblue;
      font-size: variables.$font-size-medium;
      padding-top: 1.5rem;
    }

    label {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;

    }

    input {
      border: 1px solid #DDDDDD;
      width: 100%;
      padding: 0.5rem;
      width: 600px;
    }

    .container_image {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      .image {
        border: 2px solid variables.$color-lightblue;
        border-radius: 50%;
        width: 170px;
        height: 180px;
        padding: 0.1rem;
        color: variables.$color-lightblue;
      }

      .upload {
        display: flex;
        gap: 5px;
        color: variables.$color-gray;
        font-family: variables.$font-poppins;
        align-items: center;

        &:hover {
          color: variables.$color-hover-icon;
          cursor: pointer;
        }
      }
    }

    .speciality {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 1rem;
      padding: 0.5rem 0rem;


      select {
        font-family: variables.$font-open-sans;
        font-size: variables.$font-size-x-small;
        border: 1px solid #DDDDDD;
        color: variables.$color-gray;
        padding: 0.5rem;
        width: 90%;
        font-size: 14px;
      }

      .delete {
        color: variables.$color-gray;

        :hover {
          cursor: pointer;
          color: variables.$optional-color;
        }
      }
    }

    .add {
      font-size: 14px;
      color: variables.$color-lightblue;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      &:hover {
        cursor: pointer;
        color: variables.$optional-color;
      }
    }

    .iconSocial {
      position: relative;
      top: 2rem;
      left: 0.5rem;
      width: auto;
      color: #D7DBDD;
      z-index: 100;
    }

    .buttons {
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 0.5rem;

      &-cancel {
        color: variables.$color-hover-icon;
        padding: 0.5rem 1rem;
        border: 1px solid variables.$color-hover-icon;

        &:hover {
          color: variables.$color-lightblue;
          border-color: variables.$color-lightblue;
          cursor: pointer;
        }
      }


      &-save {
        padding: 0.5rem 2rem;
        color: variables.$bg-main-color;
        background-color: variables.$color-hover-icon ;

        &:hover {
          cursor: pointer;
          background-color: variables.$color-lightblue;
        }
      }

    }


    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
    }

    &::-webkit-scrollbar-thumb {
      background: #A6ACAF;
    }
  }


}