@import url("https://fonts.googleapis.com/css2?&family=Open+Sans:wght@500&family=Poppins&display=swap");
$primary-color: #333333;
$secondary-color: #777777;
$font-color: #333333;
$bg-main-color: #ffffff;
$header-background: #333333;
$header-font-color: #ffffff;
$footer-background: #333333;
$header-font-color: #FFFFFF;
$footer-background: #000000;
$footer-font-color: #FFFFFF;
$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$section-color:#EBF5F5;
$color-lightblue:#3FB6D6;
$color-button-hover:#0d6efd;
$color-gray:#565656;
$header-font-color: #ffffff;
$footer-background: #333333;
$footer-font-color: #ffffff;
