@import url("https://fonts.googleapis.com/css2?&family=Open+Sans:wght@500&family=Poppins&display=swap");
$primary-color: #333333;
$secondary-color: #777777;
$font-color: #333333;
$bg-main-color: #ffffff;
$header-background: #333333;
$header-font-color: #ffffff;
$footer-background: #333333;
<<<<<<< HEAD
$footer-font-color: #ffffff;
=======
$footer-font-color: #FFFFFF;
$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
>>>>>>> b91fb38 (MS-5 - Create component Statistics)
