@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$primary-color: #333333;
$secondary-color: #777777;
$font-color: #333333;
$bg-main-color: #ffffff;
$header-background: #333333;
$header-font-color: #ffffff;
$header-font-color: #FFFFFF;
$footer-background: #000000;
$footer-font-color: #FFFFFF;
$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$section-color: #EBF5F5;
$color-lightblue: #3FB6D6;
$color-button-hover: #0d6efd;
$optional-color: #005CB9;
$color-gray: #565656;
$color-gray-light: #DDDDDD;
$header-font-color: #ffffff;
$footer-font-color: #ffffff;
$optional-color: #005CB9;
$color-hover-icon: #3774d9;
$color-light-blue-gray: #F7FAFB;
$font-size-x-small: 16px;
$font-size-small: 18px;
$font-size-medium: 22px;
$font-size-large: 24px;
$font-size-x-large: 48px;
$font-size-xx-large: 70px;
$font-size-optional: 35px;
$font-line-height: 1.8;
$font-x-line-height: 1.2;