@import url("https://fonts.googleapis.com/css2?&family=Open+Sans:wght@500&family=Poppins&display=swap");
$section-color:#EBF5F5;
$color-lightblue:#3FB6D6;
$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;