@use "./variables";
@use "../../styles/mixins";

.before-after {
  font-family: variables.$font-poppins;
  display: flex;
  margin: 2rem 0;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 1.5rem;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__title {
    margin-bottom: 1.5rem ;
    margin-top: 4rem;
    color: variables.$color-lightblue;
    font-size: 1rem;
    font-family: variables.$font-poppins;
    font-weight: bold;
  }
}
.handler {
  position: absolute;
  inset: 0;
  height: 100%;

  &__circle {
    position: absolute;
    top: 25%;
    height: 1.5rem;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    margin-left: -12.5px;
    color: #999999;
    box-shadow: 0 0 12px #222;
    touch-action: none;
    transition: all 0.5s;

    &:hover,
    &:active {
      box-shadow: 0 0 30px #222;
      color: #777777;
    }
  }

  &__control {
    position: relative;
    top: 0;
    height: 100%;
  }

  &__line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: white;
  }
}

.image-after {
  position: absolute;
}

.image-before {
  position: absolute;
}

.image-section {
  background-image: url(https://res.cloudinary.com/dzmkilinu/image/upload/v1689612718/medical-site/footer-shape_ilh1vv.png);
  height: 20vh;
}

.image-section__container {
  position: relative;
  height: 41.2vh;
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .image-section {
    height: 30vh;
  }
}

@media screen and (min-width: 834px) {
  .image-section {
    height: 30vh;
  }
}

@media screen and (min-width: 1024px) {

  .before-after {
    margin: 5rem 0;
    &__text {
      margin-bottom: 1.5rem;
      color: black;
      font-size: 2rem;
    }}

  .image-section__container {
    position: relative;
    height: 84.3vh;
    margin: 0 3rem;
  }
  .image-section {
    height: 60vh ;
  }
  .handler {
    &__circle {
      top: 35%;
      }
  }
}

@media screen and (min-width: 1440px) {
  .image-section {
    height: 75vh ;
  }
  .image-section__container {
    position: relative;
    height: 84.3vh;
    margin: 0 4rem;
  }
}
@media screen and (min-width: 2560px) {
  .image-section {
    height: 63vh ;
  }
}

@include mixins.set-container-width(".before-after");