.main {
  display: flex;
  justify-content: center;

}
.container {
  //max-width: 1440px; -> Lo estoy ocultado porque me bloquea los bordes para pantallas mas grandes
  width: 100%;
  //padding-left: 10px;
  //padding-right: 10px;
}

