@use '../../styles/variables';

.user-profile {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dzmkilinu/image/upload/v1689612718/medical-site/footer-shape_ilh1vv.png");

    &__avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
      background-color: #f0f0f0;
      object-fit: cover;
      border: 3px solid variables.$color-lightblue;
    }
  
    &__title {
      font-size: 24px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }
  
    &__fields {
      display: grid;
      gap: 20px;
    }
  
    &__field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
  
      &-label {
        font-weight: bold;
      }
  
      &-input {
        flex: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      &-button {
        padding: 5px 10px;
        background-color: variables.$color-lightblue;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        transition: background-color 0.2s ease-in-out;
        display: flex;
        
        &--save {
          background-color: variables.$optional-color;
          color: #fff;
  
          &:hover {
            background-color: variables.$optional-color;
          }
        }
  
        &:hover {
          background-color: variables.$color-button-hover;
        }
      }
    }
    @media (min-width: 768px) {
      &__title {
        font-size: 48px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        font-weight: bold;
      }

      &__avatar {
        width: 200px;
        height: 200px;
      }

      &__fields {
        width: 80%;
      }
    }

    @media (min-width: 1024px) {
      &__avatar {
        width: 250px;
        height: 250px;
      }

      &__fields {
        width: 60%;
      }
    }
  }