$header-contact-bg-color: #000000;
$header-contact-color: #ffffff;
$header-contact-color-hover: #3fb6d6;
$header-menu-bg-color: #ffffff;
$header-menu-color: #565656;
$header-main-menu-color: #333333;
$header-shopping-counter-bg: #3fb6d6;
$header-shopping-counter-color: #ffffff;
$header-shopping-counter-hover-bg: #000000;
$header-appointment-btn: #005CB9;
$header-menu-color-hover: #3fb6d6;