@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$header-contact-bg-color: #000000;
$header-contact-color: #ffffff;
$header-contact-color-hover: #3fb6d6;
$header-menu-bg-color: #ffffff;
$header-menu-color: #565656;
$header-main-menu-color: #333333;
$header-shopping-counter-bg: #3fb6d6;
$header-shopping-counter-color: #ffffff;
$header-shopping-counter-hover-bg: #000000;
$header-appointment-btn: #005CB9;
$header-menu-color-hover: #3fb6d6;
$header-menu-border: #DBEEFE;
$header-menu-btn: #3fb6d6;
$font-open-sans: 'Open Sans', sans-serif;