@use '../../styles/variables';

.header {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  background-color: variables.$header-background;
  color: white;


  &__container {
    display: flex;
    max-width: 1298px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 32px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;

    &--item {
      padding: 0 2rem;
      white-space: nowrap;
    }

    &--item:nth-child(1), &--item:nth-child(2) {
      display: none;
    }

    &--icon {
      display: flex;
      height: 32px;
    }

    &--icon:hover, &--icon:active {
      opacity: 0.8;
    }

    &--icon:active {
      scale: 0.9;
    }
  }

  &__right {
    display: flex;
  }

  &__title {
    padding-top: .3rem;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__menu {
      &--item:nth-child(1), &--item:nth-child(2) {
        display: flex;
      }

      &--icon {
        display: none;
      }
    }
  }
}
