@use './variables';

.header__nav-right {
  display: flex;
  justify-content: center;
  align-items: center;

  &-icon {
    width: 2rem;
    height: 2rem;
  }

  &-mobile {
    display: flex;
    margin-left: 1rem;
  }

  &-counter-tag {
    position: absolute;
    border-radius: 50%;
    background-color: variables.$header-shopping-counter-bg;
    color: variables.$header-shopping-counter-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0.8rem;
    height: 0.8rem;
    font-size: 0.5rem;
    top: -0.3rem;
    left: 1.4rem;
    transition: all .25s linear;
    padding: 0.2rem;
  }


  &-link {
    padding: 0 .7rem;

    &--cart {
      position: relative;
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem 1.2rem;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 0rem;
      background-color: variables.$header-menu-btn;

      .header__nav-right-icon {
        padding-right: 0.5rem;
      }
    }
  }

  &-menu {
    display: none;

    &--visible {
      position: absolute;
      right: 3%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      top: 88%;
      background-color: variables.$header-menu-bg-color;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &__my-account {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    &__user-avatar {
      &-container {
        border: 1px solid variables.$border-avatar-color;
        border-radius: 50%;
        margin-right: 0.5rem;
        width: 32px;
      }

      border-radius: 50%;
      width: 32px;
      border: 1px solid white;
    }
  }

  &-menu__item {
    transition: all .25s linear;
    display: flex;
    white-space: nowrap;
    position: relative;
    padding: .8rem;
    justify-content: center;

    &:hover {
      color: variables.$header-contact-color-hover;

      .header__nav-right-counter-tag {
        background-color: variables.$header-shopping-counter-hover-bg;
      }
    }

    &:not(:last-child)::after {
      display: none;
    }

  }

}

@media screen and (min-width: 1024px) {
  .header__nav-right {

    &-icon {
      width: 1.3rem;
      height: 1.3rem;
    }

    &-mobile {
      display: none;
    }

    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;

      &__item {
        &:not(:last-child)::after {
          content: "";
          display: block;
          width: 1px;
          height: 50%;
          background-color: variables.$header-main-menu-color;
          position: absolute;
          top: 25%;
          right: 0;
        }
      }

      &--visible {
        display: none;
      }
    }

  }
}