.statistics{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;    
}

.list-statiscs-card{
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;    
    margin: auto;   
    gap: 10px;
    box-sizing: border-box;

    @media (min-width: 576px){
        max-width: 540px;
    }

    @media (min-width: 768px){
        max-width: 720px;
    }

    @media (min-width: 992px){
        max-width: 960px;
    }

    @media (min-width:1024px) {
        flex-wrap: nowrap;
        max-width: 923px; 
    }

    @media (min-width:1440px) {
        gap: 20px;
        max-width: 1320px;
    }    
}