@use '../../styles/variables';
.check {
  color: variables.$color-hover-icon ;
  width: 15px;
  flex-direction: row;
  margin-right: 10PX;
  & :focus{
    color: red;
  }
}
.people-list{
  & li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10px;
  }
}
.people-container {
  margin-left: 10%;
  margin-right: 5%;
  hyphens: none;
  &-span{
    font-size: variables.$font-size-x-small;
  }
  width: 50%;
  
}

.people-parrafo {
  margin-bottom: 15px;
}

.people-title {
  font-size: variables.$font-size-x-large;
  margin-block-end: 15px;
  margin-top: 15px;
  height: auto;
  text-align: left;
  line-height: 1.2;
}